@using System.Globalization
@model WebUI.Models.ExerciseResult.ExerciseResultViewModel

@{
    ViewBag.Title = $"Edit result from {Model.Exercise.Name}";
}

<div class="container text-center justify-content-center">
    <h2>Results from @Model.Exercise.Group.Name/@Model.Exercise.Name</h2>

    <form asp-action="UpdateResults" method="post">
        <table class="table table-striped table-hover table-bordered border-black" id="resultsTable">
            <thead>
                <tr>
                    <th class="col-1" scope="col">#</th>
                    <th class="col-2" scope="col">Weight</th>
                    <th class="col-2" scope="col">Count</th>
                    <th class="col-4" scope="col">Comment</th>
                    <th class="col-1" scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 0;
                }

                @for (var i = 0; i < Model.ApproachInfos.Count; i++)
                {
                    <tr>
                        <td>@(index + 1)</td>
                        <td>
                            <input type="number" step="0.001" min="0" class="form-control" name="ApproachInfos[@i].Weight" value="@Model.ApproachInfos[i].Weight.ToString(CultureInfo.InvariantCulture)" placeholder="0" />
                        </td>
                        <td>
                            <input type="number" min="0" class="form-control" name="ApproachInfos[@i].Count" value="@Model.ApproachInfos[i].Count" placeholder="0" />
                        </td>
                        <td>
                            <input type="text" class="form-control" name="ApproachInfos[@i].Comment" value="@Model.ApproachInfos[i].Comment" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="removeRow(this)">Remove</button>
                        </td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
        
        <button type="button" class="btn btn-primary d-block w-100 mb-2" onclick="addRow()">Add Row</button>
        <div class="row justify-content-center">
            <a class="btn btn-secondary col-4 me-4" asp-controller="ExerciseResults" asp-action="GetUserResults">Cancel</a>
            <button type="submit" class="btn btn-success col-5">Save changes</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        function addRow() {
            var table = document.getElementById("resultsTable").getElementsByTagName('tbody')[0];
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);
            
            var cell1 = row.insertCell(0);
            cell1.innerHTML = rowCount + 1;

            var cell2 = row.insertCell(1);
            var weight = document.createElement("input");
            weight.type = "number";
            weight.min = "0";
            weight.step = "0.001"
            weight.className = "form-control";
            weight.name = `ApproachInfos[${rowCount}].Weight`;
            weight.placeholder = "0";
            cell2.appendChild(weight);

            var cell3 = row.insertCell(2);
            var count = document.createElement("input");
            count.type = "number";
            count.min = "0";
            count.className = "form-control";
            count.name = `ApproachInfos[${rowCount}].Count`;
            count.placeholder = "0";
            cell3.appendChild(count);

            var cell4 = row.insertCell(3);
            var comment = document.createElement("input");
            comment.type = "text";
            comment.className = "form-control";
            comment.name = `ApproachInfos[${rowCount}].Comment`;
            cell4.appendChild(comment);

            var cell5 = row.insertCell(4);
            var removeButton = document.createElement("button");
            removeButton.type = "button";
            removeButton.className = "btn btn-danger";
            removeButton.innerText = "Remove";
            removeButton.onclick = function() { removeRow(this); };
            cell5.appendChild(removeButton);
        }

        function removeRow(button) {
            var row = button.closest("tr");
            row.parentNode.removeChild(row);

            // Update row indices and names
            var rows = document.getElementById("resultsTable").getElementsByTagName('tbody')[0].rows;
            for (var i = 0; i < rows.length; i++) {
                rows[i].cells[0].innerText = i + 1;
                rows[i].querySelector('input[name$=".Weight"]').name = `ApproachInfos[${i}].Weight`;
                rows[i].querySelector('input[name$=".Count"]').name = `ApproachInfos[${i}].Count`;
                rows[i].querySelector('input[name$=".Comment"]').name = `ApproachInfos[${i}].Comment`;
            }
        }
    </script>
}
