@model UpdateExerciseModel

@{
    ViewBag.Title = $"Update exercise {Model.Name}";
    IEnumerable<GroupViewModel> availableGroups = ViewBag.AvailableGroups;
    var exerciseId = Guid.Parse(Context.Request.RouteValues["exerciseId"]?.ToString() ?? Guid.Empty.ToString());
}


<div class="container mt-3">
    <form method="post" asp-controller="Exercises" asp-action="Update" asp-route-exerciseId="@exerciseId">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Exercise name: </label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="GroupId" class="form-label"></label>
            <select asp-for="GroupId" class="form-select">
                @foreach (var group in availableGroups)
                {
                    if (Model.GroupId == group.Id)
                    {
                        <option value="@group.Id" selected>@group.Name</option>
                    }
                    else
                    {
                        <option value="@group.Id">@group.Name</option>
                    }
                }
            </select>
            <span asp-validation-for="GroupId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <div class="mb-3">
                <label asp-for="About" class="form-label">About: </label>
                <textarea id="aboutTextArea" rows="10" asp-for="About" class="form-control"></textarea>
                <span asp-validation-for="About" class="text-danger"></span>
            </div>
            <div>
                <h6>Preview</h6>
                <span id="previewPlaceholder"></span>
            </div>
        </div>

        <div class="mb-3">
            <a class="btn btn-secondary" asp-controller="Exercises" asp-action="Get" asp-route-exerciseId="@exerciseId">Cancel</a>
            <button type="submit" class="btn btn-success">Update</button>
        </div>

        <div class="mb-3">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </form>
</div>

@section Scripts
{
    <script async src='https://www.tiktok.com/embed.js'></script>
    <script>new PreviewController('aboutTextArea', 'previewPlaceholder');</script>

}
