@model ProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<div class="container mt-3">
    <h1>Profile</h1>
    
    <p class="fs-4">Username: @Model.Username</p>
    <p class="fs-5">About: @Model.About</p>
    
    <p class="fs-5">Email: @Model.Email</p>
    <p class="fs-5">Phone: @Model.Phone</p>

    <p class="fs-5">
        Roles:
        @if (Model.Roles is not null)
        {
            foreach (var role in Model.Roles)
            {
                switch (role)
                {
                    case nameof(Role.Root):
                        <span class="badge rounded-pill text-bg-danger">@role</span>
                        break;
                    case nameof(Role.Admin):
                        <span class="badge rounded-pill text-bg-warning">@role</span>
                        break;
                    default:
                        <span class="badge rounded-pill text-bg-primary">@role</span>
                        break;
                }
            }
        }
    </p>
    <p class="fs-5">
        Status:
        @if (Model.IsPublic)
        {
            <span class="badge rounded-pill text-bg-primary">public</span>
        }
        else
        {
            <span class="badge rounded-pill text-bg-secondary">private</span>
        }
    </p>
    
    <a class="btn btn-primary" asp-controller="Accounts" asp-action="UpdateProfile">Update Profile</a>
    
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Delete Account</button>
    <div class="modal fade" id="deleteAccountModal" tabindex="-1" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-danger" id="deleteAccountModalLabel">Delete Account</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-action="DeleteAccount" asp-controller="Accounts" id="delete-account-form">
                        <div class="mb-3">
                            <label for="password-for-delete-account-input" class="col-form-label">Password: </label>
                            <input id="password-for-delete-account-input" type="password" name="password" class="form-control">
                            <span id="password-for-delete-account-input-errors" class="text-danger"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" onclick="submitDeleteAccount()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function submitDeleteAccount(){
            document.getElementById('delete-account-form').submit();
        }
    </script>
}
