@page "/workspaces/{WorkspaceId:guid}/exercises/add"

@rendermode InteractiveServer

@inject Linker Linker

<PageTitle>Add Exercise</PageTitle>

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Linker.GetLocalPathByAction("Workspaces.Workspaces", "Blazor")">Workspaces</a></li>
        <li class="breadcrumb-item"><a href="@Linker.GetLocalPathByAction("Workspaces.FullWorkspace", "Blazor", new {WorkspaceId})">@WorkspaceId</a></li>
        <li class="breadcrumb-item"><a href="@Linker.GetLocalPathByAction("Exercises.Exercises", "Blazor", new {WorkspaceId})">Exercises</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Exercise</li>
    </ol>
</div>

<div class="container">
    <h3>Add Exercise</h3>
    
    <div class="form-group mb-3">
        <label for="add-exercise-name">Exercise name: </label>
        <input id="add-exercise-name" @bind="_addExerciseModel.Name" class="form-control">
        <InvalidModelFormMessage BindingError="BindingError" ErrorParameter="@nameof(AddExerciseModel.Name)"></InvalidModelFormMessage>
    </div>
    
    <div class="form-group mb-3">
        <label for="edit-exercise-group">Group: </label>
        @if (_groups == null)
        {
            <div class="placeholder col-7 placeholder-lg placeholder-glow bg-secondary form-select"></div>
        }
        else
        {
            <select id="edit-exercise-group" class="form-select" @bind="_addExerciseModel.GroupId">
                <option value="">No Group</option>
                @foreach (var group in _groups)
                {
                    <option value="@group.Id">@group.Name</option>
                }
            </select>
            <InvalidModelFormMessage BindingError="BindingError" ErrorParameter="@nameof(AddExerciseModel.GroupId)"></InvalidModelFormMessage>
        }
    </div>
    
    @if (_groups == null)
    {
        <button class="btn btn-primary" disabled>
            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span role="status">Add</span>
        </button>
    }
    else
    {
        <button @onclick="OnAddClick" class="btn btn-primary">Add</button>
    }
</div>

@code {
    [Parameter] public Guid WorkspaceId { get; set; }
    private readonly AddExerciseModel _addExerciseModel = new()
    {
        Name = string.Empty
    };
    private ModelStateErrorViewModel? BindingError { get; set; }

    private IEnumerable<GroupViewModel>? _groups;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                await (await Linker.RequestBuilder
                    .RequestToAction("GetAll", "Groups", new { WorkspaceId })
                    .WithMethod(HttpMethod.Get)
                    .WithCookies()
                    .Fetch())
                    .LoadCookies()
                    .OnSuccess(response =>
                    {
                        _groups = JsonSerializer.Deserialize<List<GroupViewModel>>(response.Content);
                        StateHasChanged();
                    })
                    .OnStatusCode(StatusCodes.Status401Unauthorized, _ =>
                    {
                        Linker.NavigateToAction("Users.Login");
                    })
                    .OnUnhandled(response =>
                    {
                        Linker.NavigateToAction("Error", routeValues: new {response.StatusCode});
                    })
                    .WaitForHandleFinishedAsync();
            }
        }
        catch (Exception e)
        {
            Linker.NavigateToAction("Error", routeValues: new {StatusCode = 0, e.Message});
        }
    }

    private async Task OnAddClick()
    {
        try
        {
            await (await Linker.RequestBuilder
                    .RequestToAction("Add", "Exercises", new {WorkspaceId})
                    .WithMethod(HttpMethod.Post)
                    .WithContent(_addExerciseModel)
                    .WithCookies()
                    .Fetch())
                .LoadCookies()
                .OnSuccess(_ =>
                {
                    Linker.NavigateToAction("Exercises.Exercises", routeValues: new {WorkspaceId});
                })
                .OnStatusCode(StatusCodes.Status400BadRequest, response =>
                {
                    BindingError = JsonSerializer.Deserialize<ModelStateErrorViewModel>(response.Content);
                })
                .OnStatusCode(StatusCodes.Status401Unauthorized, _ =>
                {
                    Linker.NavigateToAction("Users.Login");
                })
                .OnUnhandled(response =>
                {
                    Linker.NavigateToAction("Error", routeValues: new {response.StatusCode});
                })
                .WaitForHandleFinishedAsync();
        }
        catch (Exception e)
        {
            Linker.NavigateToAction("Error", routeValues: new {StatusCode = 0, e.Message});
        }
    }
}