@page "/workspaces/{WorkspaceId:guid}/exercises"

@rendermode InteractiveServer

@inject Linker Linker

<PageTitle>Exercises</PageTitle>

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Linker.GetLocalPathByAction("Workspaces.Workspaces", "Blazor")">Workspaces</a></li>
        <li class="breadcrumb-item"><a href="@Linker.GetLocalPathByAction("Workspaces.FullWorkspace", "Blazor", new {WorkspaceId})">@WorkspaceId</a></li>
        <li class="breadcrumb-item active" aria-current="page">Exercises</li>
    </ol>
</div>

<div class="container">
    <SearchBar FilterByOptions="ExercisesViewCollectionBuilder.FilterByOptions" RequestCollectionsHelper="_requestCollectionsHelper"/>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="col-4">
                <OrderComponent RequestCollectionsHelper="_requestCollectionsHelper" Value="@nameof(ExerciseViewModel.Id)" Display="Id" Options="@(new List<(string OptionName, string OptionHtmlView)> { ("", StaticHtml.OrderIcons.None), ("ASCENDING", StaticHtml.OrderIcons.ArrowUp), ("DESCENDING", StaticHtml.OrderIcons.ArrowDown) })"/>
            </th>
            <th class="col-4">
                <OrderComponent RequestCollectionsHelper="_requestCollectionsHelper" Value="@nameof(ExerciseViewModel.Name)" Display="Name" Options="@(new List<(string OptionName, string OptionHtmlView)> { ("", StaticHtml.OrderIcons.None), ("A-Z", StaticHtml.OrderIcons.ArrowUp), ("Z-A", StaticHtml.OrderIcons.ArrowDown) })"/>
            </th>
            <th class="col-2">
                Actions
            </th>
        </tr>
        </thead>
        @if (_exercises == null)
        {
            <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        }
        else
        {
            <tbody>
            @foreach (var exercise in _exercises)
            {
                <tr>
                    <td>
                        @exercise.Id
                    </td>
                    <td>
                        <a href="@Linker.GetLocalPathByAction("Exercises.Exercise", "Blazor", new {ExerciseId = exercise.Id})">@exercise.Name</a>
                    </td>
                    <td>
                        <a href="@Linker.GetLocalPathByAction("Exercises.EditExercise", "Blazor", new {ExerciseId = exercise.Id})" class="btn btn-primary">Edit</a>
                        
                        @{ var componentId = Guid.NewGuid(); }
                        <DeleteButtonComponent ComponentId="componentId"/>
                        <DeleteModalComponent
                            ModalTitle=@($"Delete exercise ({exercise.Name})")
                            OnSuccessRedirectUrl=@Linker.GetLocalPathByAction("Exercises.Exercises", "Blazor", new {WorkspaceId})
                            HandlerUrl="@Linker.GetPathByAction("Delete", "Exercises", new {exerciseId = exercise.Id})"/>
                    </td>
                </tr>
            }
            </tbody>
    
        }
    </table>
    @if (_exercises == null)
    {
        <a class="btn btn-success" disabled><span class="spinner-border spinner-border-sm" aria-hidden="true"></span>Add Exercise</a>
    }
    else
    {
        <a href="@Linker.GetLocalPathByAction("Exercises.AddExercise", "Blazor", new {WorkspaceId})" class="btn btn-success btn-block w-100">Add Exercise</a>
    }
</div>

@code {
    [Parameter] public Guid WorkspaceId { get; set; }
    private IEnumerable<ExerciseViewModel>? _exercises;
    private readonly RequestCollectionsHelper _requestCollectionsHelper = new();
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                _requestCollectionsHelper.OnSet += RequestExercises;
                
                await (await Linker.RequestBuilder
                        .RequestToAction("GetAll", "Exercises", new { workspaceId = WorkspaceId })
                        .WithMethod(HttpMethod.Get)
                        .WithCookies()
                        .Fetch())
                    .LoadCookies()
                    .OnSuccess(response =>
                    {
                        _exercises = JsonSerializer.Deserialize<List<ExerciseViewModel>>(response.Content);
                        StateHasChanged();
                    })
                    .OnStatusCode(StatusCodes.Status401Unauthorized, _ =>
                    {
                        Linker.NavigateToAction("Users.Login");
                    })
                    .OnUnhandled(response =>
                    {
                        Linker.NavigateToAction("Error", routeValues: new { response.StatusCode });
                    })
                    .WaitForHandleFinishedAsync();
            }
        }
        catch (Exception e)
        {
            Linker.NavigateToAction("Error", routeValues: new {StatusCode = 0, e.Message});
        }
    }
    
    private async void RequestExercises(string query)
    {
        try
        {
            await (await Linker.RequestBuilder
                    .RequestToUrl($"{Linker.GetPathByAction("GetAll", "Exercises", new { workspaceId = WorkspaceId })}?{query}") // danger code !!! fix query system
                    .WithMethod(HttpMethod.Get)
                    .WithCookies()
                    .Fetch())
                .LoadCookies()
                .OnSuccess(response =>
                {
                    _exercises = JsonSerializer.Deserialize<List<ExerciseViewModel>>(response.Content);
                    StateHasChanged();
                })
                .OnStatusCode(StatusCodes.Status401Unauthorized, _ =>
                {
                    Linker.NavigateToAction("Users.Login");
                })
                .OnUnhandled(response =>
                {
                    Linker.NavigateToAction("Error", routeValues: new { response.StatusCode });
                })
                .WaitForHandleFinishedAsync();
        }
        catch (Exception e)
        {
            Linker.NavigateToAction("Error", routeValues: new {StatusCode = 0, e.Message});
        }
    }
}