@using System.Globalization

@inject IViewLocalizer Localizer

<!doctype html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="@Localizer["description"]">
    <meta name="keywords" content="training tools, training plans, training results">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon"/>
    <link rel="canonical" href="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path"/>
    <link rel="alternate" hreflang="en" href="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path"/>
    <link rel="alternate" hreflang="uk" href="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path"/>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/referenced-sources.css" asp-append-version="true"/>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
<main style="min-height: 94vh; width: 100%;background-color: #f4f0fa">
    <nav class="navbar navbar-expand-xxl navbar-dark bg-dark p-2">
        <a class="navbar-brand" href="">Training Tools</a>
        <div class="offcanvas d-inline-block offcanvas-end text-bg-dark" id="navbarNav" tabindex="-1" data-bs-scroll="true" aria-labelledby="navbarNavLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="navbarNavLabel">Training Tools</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Groups" asp-action="GetAll">@Localizer["Groups"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Exercises" asp-action="GetAll">@Localizer["Exercises"]</a>
                    </li>
                    @if (Context.User.Identity?.IsAuthenticated is true)
                    {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="TrainingPlans" asp-action="GetAll">
                            @Localizer["TrainingPlans"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Users" asp-action="GetAll">@Localizer["Users"]</a>
                    </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Help" asp-action="Index">@Localizer["Help"]</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    @if (Context.User.Identity?.IsAuthenticated is true)
                    {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Friends" asp-action="Index">@Localizer["Friends"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="ExerciseResults" asp-action="GetUserResults">@Localizer["Results"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="TrainingPlans" asp-action="GetUserTrainingPlans">
                            @Localizer["MyTrainingPlans"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Accounts" asp-action="Profile">@Localizer["Profile"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Accounts" asp-action="Logout">@Localizer["Logout"]</a>
                    </li>
                    }
                    else
                    {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Accounts" asp-action="Login">@Localizer["Login"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Accounts" asp-action="Register">@Localizer["Register"]</a>
                    </li>
                    }
                </ul>
            </div>
        </div>
        
        <div class="nav-item dropdown justify-content-end ms-auto">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown">
                @switch (CultureInfo.CurrentUICulture.Name)
                {
                    case "en-US":
                        <span>EN</span>
                        break;
                    case "uk-UA":
                        <span>UA</span>
                        break;
                    default:
                        <span>EN</span>
                        break;
                }
            </button>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-start" style="max-width: 4em; min-width: 4em; width: 4em;">
                <li><a class="dropdown-item" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="uk-UA" asp-route-returnUrl="@Context.Request.Path">UA</a></li>
                <li><a class="dropdown-item" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl="@Context.Request.Path">EN</a></li>
            </ul>
        </div>

        <button class="navbar-toggler ms-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container-fluid p-2">
        @RenderBody()
    </div>
</main>
<footer class="border-top footer text-muted">
    <div class="container">
        
    </div>
    <div class="container">
        <div class="row">
            <p class="text-center m-3 col"><a href="/api-docs">@Localizer["OpenApi"]</a></p>
            <p class="text-center m-3 col">&copy; 2024 - Training Tools - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacy"]</a></p>
        </div>
    </div>
</footer>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="application/ld+json">
    {
      "@@context": "https://schema.org",
      "@@type": "WebSite",
      "name": "TrainingTools",
      "url": "@Context.Request.Scheme://@Context.Request.Host"
    }
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>