@model FilterModel

<div class="container-fluid">
    <form class="default-search-form" role="search" action="@Context.Request.Path" method="get">
        <input name="OrderBy" value="@ViewBag.OrderBy" type="hidden"/>
        <input name="OrderOption" value="@ViewBag.OrderOption" type="hidden"/>
        
        <div class="input-group input-group-horizontal">
            <label asp-for="FilterBy" class="input-group-text form-label d-none d-sm-block" style="margin-bottom: 0"></label>
            <select asp-for="FilterBy" class="form-select flex-grow-0 w-25">
                @foreach (var item in Model.FilterByOptions)
                {
                    if (item.Key == ViewBag.FilterBy)
                    {
                        <option value="@item.Key" selected>@item.Value</option>
                    }
                    else
                    {
                        <option value="@item.Key">@item.Value</option>
                    }

                }
            </select>

            <input
                asp-for="FilterValue"
                class="form-control"
                placeholder="search"
                value="@ViewBag.FilterValue"/>

            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </form>
</div>
