@model IEnumerable<ExerciseViewModel>

@{
    ViewBag.Title = $"Exercises";
    ViewBag.CurrentPage = ActivePage.Workspaces;
}

@{
    var searchOptions = new Dictionary<string, string>
    {
        { nameof(ExerciseViewModel.Id), "Id" },
        { nameof(ExerciseViewModel.Name), "Name" },
    };
    const string partialIconsPath = "Partials/SmallItems/";
    var workspaceId = Context.Request.RouteValues["workspaceId"]?.ToString();
}

<div class="container-fluid">
    @await Html.PartialAsync("Partials/SearchPartialView", new FilterModel{SearchByOptions = searchOptions}, ViewData)
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="col-4">
                    @await Component.InvokeAsync("Sort", new SortingComponentView
                        {
                            Value = nameof(ExerciseViewModel.Id), 
                            Display = "Id",
                            Options = new Dictionary<string, string>()
                            {
                                {"",$"{partialIconsPath}None"}, {"DESCENDING", $"{partialIconsPath}Down"}, {"ASCENDING", $"{partialIconsPath}Up"}
                            }
                        })
                </th>
                <th class="col-4">
                    @await Component.InvokeAsync("Sort", new SortingComponentView
                        {
                            Value = nameof(ExerciseViewModel.Name), 
                            Display = "Name",
                            Options = new Dictionary<string, string>
                            {
                                {"",$"{partialIconsPath}None"}, {"A-Z", $"{partialIconsPath}Up"}, {"Z-A", $"{partialIconsPath}Down"}
                            }
                        })
                </th>
                <th class="col-2">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        <a asp-controller="Exercises" asp-action="Get" asp-route-exerciseId="@item.Id">@item.Name</a>
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Exercises" asp-action="Edit" asp-route-exerciseId="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="Exercises" asp-action="Delete" asp-route-exerciseId="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-controller="Exercises" asp-route-workspaceId="@workspaceId" asp-action="Add" class="btn btn-success btn-block w-100">Add Exercise</a>
</div>