@model ExerciseViewModel

@{
    ViewBag.Title = $"Exercise: {Model.Name}";
    ViewBag.CurrentPage = ActivePage.Workspaces;
}

<div class="container-fluid" >
    <h1>Exercise: @Model.Name</h1>

    <ul>
        <li>ID: @Model.Id</li>
        <li>Name: @Model.Name</li>
        <li>Workspace: @Model.Workspace.Name</li>
        <li>Owner: @Model.Workspace.Owner.Name</li>
    </ul>
</div>