@model FullWorkspaceViewModel

@{
    ViewBag.Title = $"{Model.Name}";
    ViewBag.CurrentPage = ActivePage.Workspaces;
}

@{
    const string partialIconsPath = "Partials/SmallItems/";
    var workspaceId = Context.Request.RouteValues["workspaceId"]?.ToString();
}

<div class="container-fluid">
    @await Html.PartialAsync("Partials/FilterPartialView", new FilterModel{FilterByOptions = ExercisesViewCollectionBuilder.FilterByOptions}, ViewData)
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="col-4">
                @await Component.InvokeAsync("Sort", new SortingComponentView
                {
                    Value = nameof(ExerciseViewModel.Id), 
                    Display = "Id",
                    Options = new Dictionary<string, string>()
                    {
                        {"",$"{partialIconsPath}None"}, {"DESCENDING", $"{partialIconsPath}Down"}, {"ASCENDING", $"{partialIconsPath}Up"}
                    }
                })
            </th>
            <th class="col-4">
                @await Component.InvokeAsync("Sort", new SortingComponentView
                {
                    Value = nameof(ExerciseViewModel.Name), 
                    Display = "Name",
                    Options = new Dictionary<string, string>
                    {
                        {"",$"{partialIconsPath}None"}, {"A-Z", $"{partialIconsPath}Up"}, {"Z-A", $"{partialIconsPath}Down"}
                    }
                })
            </th>
            <th class="col-2">
                Actions
            </th>
        </tr>
        </thead>
    </table>
    
    <div class="accordion mb-2" id="exercises-by-groups">
        @foreach (var group in Model.Groups)
        {
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button 
                        class="accordion-button p-2" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#panelsStayOpen-@group.Id" aria-expanded="true" 
                        aria-controls="panelsStayOpen-@group.Id">
                        @group.Name
                    </button>
                </h2>
                <div id="panelsStayOpen-@group.Id" class="accordion-collapse collapse show">
                    <div class="accordion-body p-1">
                        <table class="table table-striped table-hover">
                            @{ var exercises = Model.Exercises.Where(e => e.Group?.Id == group.Id); }
                            @foreach (var exercise in exercises)
                            {
                                <tr>
                                    <td class="col-4">
                                        @exercise.Id
                                    </td>
                                    <td class="col-4">
                                        <a asp-controller="Exercises" asp-action="Get" asp-route-exerciseId="@exercise.Id">@exercise.Name</a>
                                    </td>
                                    <td class="col-2">
                                        <a class="btn btn-primary" asp-controller="Exercises" asp-action="Edit" asp-route-exerciseId="@exercise.Id">Edit</a>
                                        <a class="btn btn-danger" asp-controller="Exercises" asp-action="Delete" asp-route-exerciseId="@exercise.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        }
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button 
                    class="accordion-button p-2" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#panelsStayOpen-no-group" aria-expanded="true" 
                    aria-controls="panelsStayOpen-no-group">
                    No Group
                </button>
            </h2>
            <div id="panelsStayOpen-no-group" class="accordion-collapse collapse show">
                <div class="accordion-body p-1">
                    <table class="table table-striped table-hover">
                        @{ var noGroupExercises = Model.Exercises.Where(e => e.Group == null); }
                        @foreach (var exercise in noGroupExercises)
                        {
                            <tr>
                                <td class="col-4">
                                    @exercise.Id
                                </td>
                                <td class="col-4">
                                    <a asp-controller="Exercises" asp-action="Get" asp-route-exerciseId="@exercise.Id">@exercise.Name</a>
                                </td>
                                <td class="col-2">
                                    <a class="btn btn-primary" asp-controller="Exercises" asp-action="Edit" asp-route-exerciseId="@exercise.Id">Edit</a>
                                    <a class="btn btn-danger" asp-controller="Exercises" asp-action="Delete" asp-route-exerciseId="@exercise.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    

    <a asp-controller="Groups" asp-route-workspaceId="@workspaceId" asp-action="Add" class="btn btn-success btn-block w-100 mb-2">Add Group</a>
    <a asp-controller="Exercises" asp-route-workspaceId="@workspaceId" asp-action="Add" class="btn btn-success btn-block w-100 mb-2">Add Exercise</a>
</div>