@using Filters = Application.Constants.FilterOptionNames.Exercise
@using Orders = Application.Constants.OrderOptionNames.Exercise
@model IEnumerable<ExerciseViewModel>

@{
    ViewBag.Title = "Exercises";

    var isUserAdmin = User.IsInRole("Admin");
    var isUserRoot = User.IsInRole("Root");

    IEnumerable<GroupViewModel> availableGroups = ViewBag.AvailableGroups;
    
    ExerciseResult[] exerciseResults;
    if (ViewBag.UserResults is IEnumerable<ExerciseResult> eR) exerciseResults = eR.ToArray();
    else exerciseResults = new ExerciseResult[]{};
}

<div class="container">
    <h2 class="text-center">Exercises</h2>

    <form class="d-flex justify-content-end" method="get">
        <div class="input-group mb-1">
            <label for="filter-by-group-input" hidden></label>
            
            @{ var currentFilterGroup = ViewData[Filters.Group.AsFilterName()] as string;}
            <select id="filter-by-group-input" class="form-select rounded-start-5 me-1" style="max-width: 30%;" name="@Filters.Group.AsFilterName()">
                <option value="">Not selected</option>
                @foreach (var group in availableGroups)
                {
                    if (group.Id.ToString() == currentFilterGroup)
                    {
                        <option value="@group.Id" selected>@group.Name</option>
                    }
                    else
                    {
                        <option value="@group.Id">@group.Name</option>
                    }
                }
            </select>
            
            <label for="filter-by-name-input" hidden></label>
            <input id="filter-by-name-input" class="form-control me-1" name="@Filters.Name.AsFilterName()" value="@ViewData[Filters.Name.AsFilterName()]" placeholder="search"/>
            
            <button type="submit" class="btn btn-primary rounded-end-5"><img style="width: 2em;height: 2em;" src="/img/icons/search.svg" alt="Search"/></button>
            
            <input name="order" value="@(ViewData["current_order"] ?? "")" hidden/>
            <input name="order_by" value="@(ViewData["order_by"])" hidden/>
        </div>
    </form>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="col-4 fs-5">
                <form method="get" onclick="this.submit()" class="cursor-pointer non-selectable">
                    Exercise name
                    @{
                        await Html.RenderPartialAsync("Partials/DefaultOrderFormPartialView", Orders.Name);
                    }

                    <input name="@Filters.Name.AsFilterName()" value="@ViewData[Filters.Name.AsFilterName()]" hidden/>
                    <input name="@Filters.Group.AsFilterName()" value="@ViewData[Filters.Group.AsFilterName()]" hidden/>
                </form>
            </th>
            <th class="col-2 fs-5">
                <form method="get" onclick="this.submit()" class="cursor-pointer non-selectable">
                    Group name
                    @{
                        await Html.RenderPartialAsync("Partials/DefaultOrderFormPartialView", Orders.GroupName);
                    }
                    
                    <input name="@Filters.Name.AsFilterName()" value="@ViewData[Filters.Name.AsFilterName()]" hidden/>
                    <input name="@Filters.Group.AsFilterName()" value="@ViewData[Filters.Group.AsFilterName()]" hidden/>
                </form>
            </th>
            <th class="col-1 fs-5">Results status</th>
            @if (isUserAdmin || isUserRoot)
            {
                <th class="col-1 fs-5">Actions</th>
            }
        </tr>
        </thead>
        <tbody>
            @foreach (var exercise in Model)
            {
                <tr>
                    <td>
                        @if (isUserAdmin || isUserRoot)
                        {
                            <a type="button" class="link-dark fs-5" data-bs-toggle="modal" data-bs-target="#edtExerciseModal-@exercise.Id"><span class="fs-5">@exercise.Name</span></a>
                        }
                        else
                        {
                            <span class="fs-5">@exercise.Name</span>
                        }
                    </td>
                    <td>
                        <span class="fs-5">@exercise.Group.Name</span>
                    </td>
                    <td>
                        @if (exerciseResults.FirstOrDefault(r => r.Exercise.Id == exercise.Id) is null)
                        {
                            <a class="btn btn-success" asp-controller="ExerciseResults" asp-action="CreateResult" asp-route-exerciseId="@exercise.Id" asp-route-returnUrl="/exercises">Create Results</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-controller="ExerciseResults" asp-action="GetUserResults">To Results</a> @* TODO DECIDE TO WHICH URL MAKE REDIRECT*@
                        }
                    </td>
                    @if (isUserAdmin || isUserRoot)
                    {
                        <td>
                            <button class="btn btn-danger ms-auto" type="button" data-bs-toggle="modal" data-bs-target="#deleteExercise-@exercise.Id-Modal">
                                Remove
                            </button>
                        </td>
                    }
                </tr>
                
                
                <div class="modal fade" id="deleteExercise-@exercise.Id-Modal" tabindex="-1" aria-labelledby="deleteExercise-@exercise.Id-ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteExercise-@exercise.Id-ModalLabel">Delete exercise @exercise.Name</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-danger">
                            This action will delete exercise from database and it cannot be canceled
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                            <a type="button" class="btn btn-danger" asp-controller="Exercises" asp-action="DeleteExercise" asp-route-exerciseId="@exercise.Id">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            
            if (isUserAdmin || isUserRoot)
            {
                <div class="modal fade" id="edtExerciseModal-@exercise.Id" tabindex="-1" aria-labelledby="edtExerciseModal-@exercise.Id-Label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="edtExerciseModal-@exercise.Id-Label">Edit Exercise: @exercise.Name</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" asp-action="EditExercise" asp-controller="Exercises" id="edit-exercise-form-@exercise.Id">
                                    <div class="mb-3">
                                        <input name="id" value="@exercise.Id" hidden/>

                                        <label for="edit-exercise-name-@exercise.Id-input" class="col-form-label">Name</label>
                                        <input id="edit-exercise-name-@exercise.Id-input" type="text" name="name" value="@exercise.Name" class="form-control">
                                        <span id="edit-exercise-name-@exercise.Id-errors" class="text-danger"></span>

                                        <label for="edit-exercise-group-select">Group</label>
                                        <select id="edit-exercise-group-select" name="GroupId" class="form-select">
                                            @foreach (var group in availableGroups)
                                            {
                                                if (group.Id == exercise.Group.Id)
                                                {
                                                    <option value="@group.Id" selected>@group.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@group.Id">@group.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-success" onclick="submitEditForm('@exercise.Id')">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            }
        </tbody>
    </table>

    @if (isUserAdmin || isUserRoot)
    {
        <button type="button" class="btn btn-success w-100 d-block" data-bs-toggle="modal" data-bs-target="#addExerciseModal">Add new exercise</button>
        <div class="modal fade" id="addExerciseModal" tabindex="-1" aria-labelledby="addExerciseModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addExerciseModalLabel">Add new exercise</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" asp-action="AddExercise" asp-controller="Exercises" id="add-exercise-form">
                            <div class="mb-3">
                                <label for="add-exercise-name-input" class="col-form-label">Name</label>
                                <input id="add-exercise-name-input" type="text" name="name" value="@ViewBag.GroupName" class="form-control">
                                <span id="add-exercise-name-errors" class="text-danger"></span>

                                <label for="add-exercise-group-select">Group</label>
                                <select id="add-exercise-group-select" name="GroupId" class="form-select">
                                    @foreach (var group in availableGroups)
                                    {
                                        <option value="@group.Id">@group.Name</option>
                                    }
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" onclick="submitForm()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts{
    <script>
    function submitEditForm(id){
        const nameInput = document.getElementById(`edit-exercise-name-${id}-input`);
        const nameValue = nameInput.value.trim();
        const minLength = @Domain.Rules.DataSizes.Exercise.MinNameSize;
        const maxLength = @Domain.Rules.DataSizes.Exercise.MaxNameSize;

        if (nameValue.length < minLength || nameValue.length > maxLength) {
            document.getElementById(`edit-exercise-name-${id}-errors`).innerText = "Name length must be from @Domain.Rules.DataSizes.Exercise.MinNameSize to @Domain.Rules.DataSizes.Exercise.MaxNameSize characters";
        }
        else{
            document.getElementById(`edit-exercise-form-${id}`).submit();
        }
    }
    function submitForm() {
        const nameInput = document.getElementById("add-exercise-name-input");
        const nameValue = nameInput.value.trim();
        const minLength = @Domain.Rules.DataSizes.Exercise.MinNameSize;
        const maxLength = @Domain.Rules.DataSizes.Exercise.MaxNameSize;

        if (nameValue.length < minLength || nameValue.length > maxLength) {
            document.getElementById('add-exercise-name-errors').innerText = "Name length must be from @Domain.Rules.DataSizes.Exercise.MinNameSize to @Domain.Rules.DataSizes.Exercise.MaxNameSize characters";
        }
        else{
            document.getElementById('add-exercise-form').submit();
        }
    }
    </script>
}