@model WebUI.Models.ExerciseResult.ExerciseResultViewModel

<div class="col mb-2 px-1">
    <div class="card text-center h-100">
        <div class="card-header p-1">
            <div class="row px-3">
                @if (ViewBag.IsResultsForExercise is true)
                {
                    <a class="col d-block w-75" asp-controller="ExerciseResults" asp-action="GetResultsForUser" asp-route-userName="@Model.Owner.UserName">
                        <h4>@Model.Owner.UserName</h4>
                    </a>
                    
                    <a class="col-auto p-0 m-1" asp-controller="Exercises" asp-action="Get" asp-route-exerciseId="@Model.Exercise.Id">
                        <img src="/img/icons/info.svg" alt="Info" style="width: 2em; height: 2em;"/>
                    </a>
                }
                else
                {
                    <a class="col d-block w-75" asp-controller="ExerciseResults" asp-action="GetFriendsResultsForExercise" asp-route-exerciseId="@Model.Exercise.Id">
                        <h4 class="text-truncate">@Model.Exercise.Group.Name/@Model.Exercise.Name</h4>
                    </a>
                    
                    <a class="col-auto p-0 m-1" asp-controller="Exercises" asp-action="Get" asp-route-exerciseId="@Model.Exercise.Id">
                        <img src="/img/icons/info.svg" alt="Info" style="width: 2em; height: 2em;"/>
                    </a>
                    
                    if (User.Identity?.Name == Model.Owner.UserName)
                    {
                        <a class="col-auto p-0 m-1" asp-controller="ExerciseResults" asp-action="Update" asp-route-exerciseId="@Model.Exercise.Id">
                            <img src="/img/icons/editing.png" alt="Edit" style="width: 2em; height: 2em;"/>
                        </a>
                        <div type="button" class="col-auto p-0 m-1" data-bs-toggle="modal" data-bs-target="#deleteResult-@Model.Owner.UserName-@Model.Exercise.Id-Modal">
                            <img src="/img/icons/bin.png" alt="Remove" style="width: 2em; height: 2em;"/>
                        </div>

                        <div class="modal fade" id="deleteResult-@Model.Owner.UserName-@Model.Exercise.Id-Modal" tabindex="-1" aria-labelledby="deleteResult-@Model.Owner.UserName-@Model.Exercise.Id-ModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteResult-@Model.Owner.UserName-@Model.Exercise.Id-ModalLabel">Delete results from exercise @Model.Exercise.Name</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-danger">
                                        This action will delete results from database and it cannot be canceled
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                                        <a type="button" class="btn btn-danger" asp-controller="ExerciseResults" asp-action="Delete" asp-route-exerciseId="@Model.Exercise.Id">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    
                }
            </div>
        </div>
        <div class="card-body p-1">
            <table class="table table-striped table-hover table-bordered border-black m-0">
                <thead>
                <tr>
                    <th class="col-1" scope="col">#</th>
                    <th class="col-3" scope="col">Weight</th>
                    <th class="col-3" scope="col">Count</th>
                    <th class="col-5" scope="col">Comment</th>
                </tr>
                </thead>
                <tbody>

                @{
                    var index = 0;
                }

                @foreach (var approach in Model.ApproachInfos)
                {
                    index += 1;
                    <tr>
                        <td>@index</td>
                        <td>@approach.Weight</td>
                        <td>@approach.Count</td>
                        <td>@approach.Comment</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
