
@functions {
    string IsActive(ActivePage page)
    {
        return page == ViewBag.CurrentPage ? "active" : string.Empty;
    }
}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>@ViewBag.Title</title>

    <!-- Bootstrap Head -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @await RenderSectionAsync("styles", false)
  </head>
  <body>
  <main style="min-height: 100vh; width: 100%">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-2">
          <a class="navbar-brand" href="">Training Tools</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link @IsActive(ActivePage.Home)" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link @IsActive(ActivePage.Workspaces)" asp-controller="Workspaces" asp-action="Index">Workspaces</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link @IsActive(ActivePage.Login)" asp-controller="Users" asp-action="Login">Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link @IsActive(ActivePage.Register)" asp-controller="Users" asp-action="Register">Register</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link @IsActive(ActivePage.Profile)" asp-controller="Users" asp-action="Index">Profile</a>
                  </li>
              </ul>
          </div>
      </nav>
      <div class="container-fluid p-2">
          @RenderBody()
      </div>
  </main>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/main.js"></script>
  <script src="~/js/main.lib.js"></script>
  @await RenderSectionAsync("scripts", false)
  </body>
</html>