@model (string? OrderBy, string? FormInner)

<form method="get" onclick="addQueryParametersFromForm(event)" class="cursor-pointer non-selectable">
    @Html.Raw(Model.FormInner)
    @if (ViewData["order_by"] as string == Model.OrderBy)
    {
        <input name="order" value="@(ViewData["order"] ?? SharedOrderOptions.Ascending)" hidden/>
        <input name="order_by" value="@Model.OrderBy" hidden/>
        switch (ViewData["current_order"] as string)
        {
            case SharedOrderOptions.Ascending:
                <img style="width: 1em; height: 1em" src="/img/icons/sort-up-black.svg" alt="srt"/>
                break;
            case SharedOrderOptions.Descending:
                <img style="width: 1em; height: 1em" src="/img/icons/sort-down-black.svg" alt="srt"/>
                break;
            default:
                <img style="width: 1em; height: 1em" src="/img/icons/sort-full-grey.svg" alt="srt"/>
                break;
        }
    }
    else
    {
        <input name="order" value="@SharedOrderOptions.Ascending" hidden/>
        <input name="order_by" value="@Model.OrderBy" hidden/>
        <img style="width: 1em; height: 1em" src="/img/icons/sort-full-grey.svg" alt="srt"/>
    }
</form>