@model WebUI.Models.User.UserInfoViewModel

@{
    ViewBag.Title = $"{Model.User.UserName} - Profile";

    var currentUserIsAdmin = User.IsInRole(nameof(Role.Admin));
    var currentUserIsRoot = User.IsInRole(nameof(Role.Root));
}

<div class="container">
    <h2>@Model.User.UserName</h2>
    <h4>About: @Model.User.About</h4>
    
    <h4>
        Roles:
        @foreach (var role in Model.Roles)
        {
            await Html.RenderPartialAsync("Partials/UserRole", role);
        }
    </h4>
    @if (Model.User.IsPublic)
    {
        <span class="badge rounded-pill text-bg-primary">public</span>
    }
    else
    {
        <span class="badge rounded-pill text-bg-secondary">private</span>
    }
    
    <div class="mt-2">
        @{
            await Html.RenderPartialAsync("Partials/UsersRelationshipActions", (Model.RelationshipState, Model.User, Context.Request.Path.ToString()));
        }
        <a class="btn btn-primary m-2" asp-controller="ExerciseResults" asp-action="GetUserResults" asp-route-userName="@Model.User.UserName">Exercise Results</a>
    </div>
    


    @if (currentUserIsAdmin || currentUserIsRoot)
    {
        <div class="container mt-2 border border-top-1 border-black p-1">
            <h4>Admin functions</h4>
            <div>
                <h5>Email: @Model.User.Email</h5>
                <h5>Phone: @Model.User.Phone</h5>
            </div>
            <div>
                @if (!Model.Roles.Contains(nameof(Role.Root)) &&
                (currentUserIsRoot || !Model.Roles.Contains(nameof(Role.Admin))))
                {
                <a class="btn btn-primary" asp-controller="Users" asp-action="Update" asp-route-userId="@Model.User.Id">Update</a>

                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModal">
                    Delete
                </button>

                <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteUserModalLabel">Delete user: @Model.User.UserName</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-danger">
                                This action will delete user from database and it cannot be canceled
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                                <a type="button" class="btn btn-danger" asp-controller="Users" asp-action="Delete" asp-route-userId="@Model.User.Id">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    }
</div>
