@using Filters = Application.Constants.FilterOptionNames.Group
@using Orders = Application.Constants.OrderOptionNames.Group
@model IEnumerable<GroupViewModel>

@{
    ViewBag.Title = "Groups";
}

<div class="container">
    <h2 class="text-center mb-2">Groups</h2>

    <form class="d-flex justify-content-end" method="get">
        <div class="input-group mb-1">
            <label for="filter-by-name-input"></label>
            <input id="filter-by-name-input" class="form-control rounded-start-5 me-1" name="@Filters.Name.AsFilterName()" value="@ViewData[Filters.Name.AsFilterName()]" placeholder="search"/>
            <button type="submit" class="btn btn-primary rounded-end-5"><img style="width: 2em;height: 2em;" src="/img/icons/search.svg" alt="Search"/></button>
            
            <input name="order" value="@(ViewData["current_order"] ?? string.Empty)" hidden/>
            <input name="order_by" value="@(ViewData["order_by"])" hidden/>
        </div>
    </form>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="col-3 fs-5">
                <form method="get" onclick="this.submit()" class="cursor-pointer non-selectable">
                    Group name
                    @{
                        await Html.RenderPartialAsync("Partials/DefaultOrderFormPartialView", Orders.Name);
                    }

                    <input name="@Filters.Name.AsFilterName()" value="@ViewData[Filters.Name.AsFilterName()]" hidden/>
                </form>
            </th>
            <th class="col-1 fs-5">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var group in Model)
        {
            <tr>
                <td><a type="button" class="link-dark" data-bs-toggle="modal" data-bs-target="#edtGroupModal-@group.Id"><span class="fs-5">@group.Name</span></a></td>
                <td>
                    <div type="button" class="btn btn-danger ms-auto" data-bs-toggle="modal" data-bs-target="#deleteGroup-@group.Id-Modal">
                        Remove
                    </div>
                </td>
            </tr>
            
            <div class="modal fade" id="deleteGroup-@group.Id-Modal" tabindex="-1" aria-labelledby="deleteGroup-@group.Id-ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteGroup-@group.Id-ModalLabel">Delete group @group.Name</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-danger">
                            This action will delete group from database and it cannot be canceled
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                            <a type="button" class="btn btn-danger" asp-controller="Groups" asp-action="DeleteGroup" asp-route-groupId="@group.Id">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="edtGroupModal-@group.Id" tabindex="-1" aria-labelledby="edtGroupModal-@group.Id-Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="edtGroupModal-@group.Id-Label">Edit Group: @group.Name</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" asp-action="EditGroup" asp-controller="Groups" id="edit-group-form-@group.Id">
                                <div class="mb-3">
                                    <input name="id" value="@group.Id" hidden/>

                                    <label for="edit-group-name-@group.Id-input" class="col-form-label">Name</label>
                                    <input id="edit-group-name-@group.Id-input" type="text" name="name" value="@group.Name" class="form-control">
                                    <span id="edit-group-name-@group.Id-errors" class="text-danger"></span>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" onclick="submitEditForm('@group.Id')">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        </tbody>
    </table>
    
    <button type="button" class="btn btn-success w-100 d-block" data-bs-toggle="modal" data-bs-target="#addGroupModal">Add new group</button>
    <div class="modal fade" id="addGroupModal" tabindex="-1" aria-labelledby="addGroupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addGroupModalLabel">Add new group</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-action="AddGroup" asp-controller="Groups" id="add-group-form">
                        <div class="mb-3">
                            <label for="add-group-name-input" class="col-form-label">Name</label>
                            <input id="add-group-name-input" type="text" name="name" value="@ViewBag.GroupName" class="form-control">
                            <span id="add-group-name-errors" class="text-danger"></span>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="submitForm()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function submitEditForm(id){
            const nameInput = document.getElementById(`edit-group-name-${id}-input`);
            const nameValue = nameInput.value.trim();
            const minLength = @Domain.Rules.DataSizes.GroupDataSizes.MinNameSize;
            const maxLength = @Domain.Rules.DataSizes.GroupDataSizes.MaxNameSize;

            if (nameValue.length < minLength || nameValue.length > maxLength) {
                document.getElementById(`edit-group-name-${id}-errors`).innerText = "Name length must be from @Domain.Rules.DataSizes.GroupDataSizes.MinNameSize to @Domain.Rules.DataSizes.GroupDataSizes.MaxNameSize characters";
            }
            else{
                document.getElementById(`edit-group-form-${id}`).submit();
            }
        }
        function submitForm() {
            const nameInput = document.getElementById("add-group-name-input");
            const nameValue = nameInput.value.trim();
            const minLength = @Domain.Rules.DataSizes.GroupDataSizes.MinNameSize;
            const maxLength = @Domain.Rules.DataSizes.GroupDataSizes.MaxNameSize;

            if (nameValue.length < minLength || nameValue.length > maxLength) {
                document.getElementById('add-group-name-errors').innerText = "Name length must be from @Domain.Rules.DataSizes.GroupDataSizes.MinNameSize to @Domain.Rules.DataSizes.GroupDataSizes.MaxNameSize characters";
            }
            else{
                document.getElementById('add-group-form').submit();
            }
        }
    </script>
}